.App {
  background-image: url("./audience.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.key-container {
  position: relative;
  top: 50%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.key-container .key {
  background-color: #255858;
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  font-size: 30px;
  align-items: center;
  opacity: 0.9;
  height: 68px;
  cursor: pointer;
  padding-top: 15px;
}
.audio {
  background-color: orange;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 15px;
}
